body {
  background-color: #f5bebe;
}

/* text styles */
h3 {
  font-family: Montserrat;
  font-weight: lighter;
}

/* navbar customizations */
.navbar-brand {
  font-family: Montserrat;
  font-weight: bold;
  /* font-size: 1.5rem; */
}
.nav {
  font-family: Montserrat;
  font-weight: regular;
  /* font-size: 1.5rem; */
}
#navbar a {
  text-align: center;
  padding: 14px;
}
.navbar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
.navbar .navbar-nav .nav-link {
  color: black;
  margin: 1rem;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ff3366;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ff3366;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ff3366;
  background-color: #f8f8f8;
}

/* introtext styling */
.introtext {
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 40px;
}
.introduction {
  /* margin-top: 20%; */
  align-items: center;
}
.button-1,
.button-2 {
  margin-top: 5%;
  margin: 10px;
  height: 45px;
  width: 150px;
  border-radius: 44px;
  font-weight: bold;
}
.button-1 {
  color: #a0a0a0;
}
.button-2 {
  border: 1px solid #707070;
  box-shadow: 0px 3px 8px #00000045;
  color: white;
  background-color: #fd92b2;
  border-color: #707070;
}
.container-fluid.intro {
  background-color: white;
  padding: 5%;
  padding-bottom: 15%;
  padding-top: 10%;
}
.introimg {
  padding: 10%;
}

/* case studies */
.casestudies {
  margin-top: 30px;
}
.studies {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 20px #0000002c;
  display: flex;
  max-width: 90%;
  overflow: hidden;
  width: 750px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: 3%;
}
.studiesimgbg {
  background: black;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 15px;
  padding-left: 15px;
  width: 250px;
  position: relative;
  align-items: center;
  margin-left: 30px;
}
.studiesimgbgroar {
  background: white;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 15px;
  padding-left: 15px;
  width: 250px;
  position: relative;
  align-items: center;
  margin-left: 30px;
}
.case-title {
  padding: 30px;
  padding-right: 0px;
}
.case-title h3 {
  margin-bottom: 2rem;
  font-family: Lora;
}
.p-trunc {
  font-family: Brandon Grotesque;
  font-size: large;
}
.view-case {
  margin-left: 100px;
}
.btn.view-case {
  background: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 44px;
  position: fixed;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn.view-case:hover {
  color: #fd92b2;
  transform: scale(1.1);
}
.row.studies {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 30px;
}
@media (max-width: 990px) {
  .case-title {
    flex-direction: column;
    width: 90%;
  }
  .case-img {
    width: 100%;
  }
  .case-title p {
    margin-bottom: 50px;
  }
  .studies {
    padding: 0px;
  }
  .studiesimgbg {
    width: 100%;
    margin: 0px;
  }
  .studiesimgbgroar {
    width: 100%;
    margin: 0px;
  }
  .container-fluid.intro {
    padding-top: 20%;
  }
}

/* media sizing */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

/* image gallery styling */
.row .col-md-3 {
  padding: 7.5px !important;
}
/* .container-fluid.gallery {
  background: white;
  margin-top: 100px;
  padding-top: 30px;
} */
.multi-title {
  padding-bottom: 15px;
}

/* gallery styling */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
