/* navbar customizations */
.navbar-brand {
  font-family: Montserrat;
  font-weight: bold;
  /* font-size: 1.5rem; */
}
.nav {
  font-family: Montserrat;
  font-weight: regular;
  /* font-size: 1.5rem; */
}
#navbar a {
  text-align: center;
  padding: 14px;
}
.navbar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
.navbar .navbar-nav .nav-link {
  color: black;
  margin: 1rem;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ff3366;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ff3366;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ff3366;
  background-color: #f8f8f8;
}

/* this is where the parallax style is */
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Open Sans", sans-serif;
  color: black;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../Assets/RoarBikes/In-SituAngle-1.png");
  /* min-width: 100%; */
  min-height: 100%;
}

.bgimg-2 {
  background-color: #ffab1529;
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../Assets/RoarBikes/wireframebg.png");
  background-color: #e4e4e4;
  min-height: 100%;
}
.bgimg-4 {
  background-image: url("../Assets/RoarBikes/hi-fimockup.png");
  min-height: 100%;
}
.caption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  /* top: 100%; */
  width: 100%;
  min-width: 400px;
  text-align: center;
  color: #000;
  /* padding-bottom: 5%; */
}
.bgimg-1 .logo-1 {
  padding-right: 20%;
  padding-left: 20%;
}
h3,
h4 {
  /* letter-spacing: 5px; */
  /* text-transform: uppercase; */
  font-family: "Brandon Grotesque";
  color: #111;
  padding-bottom: 20px;
}
.row .col-12 {
  padding: 3% !important;
  /* padding-top: 20% !important; */
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
